<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battery Life Cycle</title>
</head>
<style>
      body {
        background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/84/89/rS2Zy3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
    </style>
<center><h1 style="color:DodgerBlue";>Battery Life Cycle Prediction</h1></center><br><br>
<center>

<hr>
   <h3 style="color:white";>Battery Life Regression</h3>
<!--    <input type="submit" > <br><br>-->
    </form>
<hr>
<p style="font-size:14px;"><b>
 min: {{a}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
log variance: {{b}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 Dis_max: {{c}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <br><br>
Slope: {{d}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Charge time: {{e}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 Intercept: {{f}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br><br>
 integration of Charge Time : {{g}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 iR_min: {{h}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    iR_diff: {{i}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b></p><br><br><br><br><br><br><br><br>
<p style="font-size:18px;"><b>Actual Life Cycle is: {{j}}</b></p>
 <h2> Predicted {{prediction_text}}</h2>

</center>
</body>
</html>